/* MoviePicker.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    width: 600px;
}

.question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;
}

.options li {
    flex-basis: 45%;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    padding: 5px;
}


.options li.selected {
    border-color: #faa805;
    /* Selected border color */
}

.options li:hover {
    border-color: #ab7200;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns button {
    color: black;
    font-weight: 700;
    background-color: #faa805;
    padding: 7px 15px;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 5px #faa805;
}

.filler {
    flex-grow: 1;
}