/* Overall app styles */
.app {
  font-family: Arial, sans-serif;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
